In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [2]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['縣市', '顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [3]:
frame.stack(level=['縣市','顏色']).unstack(level=['顏色','key1'])

顏色      Green  Red Green   Red
key1        a    a     b     b
key2 縣市
1    台中   2.0  NaN   8.0   NaN
     台北   0.0  1.0   6.0   7.0
2    台中   5.0  NaN  11.0   NaN
     台北   3.0  4.0   9.0  10.0