In [2]:
import pandas as pd

dataFrame = pd.read_excel('year2021.xlsx',usecols=['國家','日期','總確診數','新增確診數'])
dataFrame

     國家         日期    總確診數  新增確診數
0    日本 2021-01-01  239005   3256
1    日本 2021-01-02  242076   3071
2    日本 2021-01-03  245242   3166
3    日本 2021-01-04  248585   3343
4    日本 2021-01-05  253534   4949
..   ..        ...     ...    ...
725  台灣 2021-12-27   16931     16
726  台灣 2021-12-28   16950     19
727  台灣 2021-12-29   16964     14
728  台灣 2021-12-30   16988     24
729  台灣 2021-12-31   17029     41

[730 rows x 4 columns]

In [3]:
dataFrame.query('新增確診數>10000')

     國家         日期     總確診數  新增確診數
209  日本 2021-07-29   903351  10752
210  日本 2021-07-30   914182  10831
211  日本 2021-07-31   926604  12422
212  日本 2021-08-01   936852  10248
214  日本 2021-08-03   957431  12101
215  日本 2021-08-04   971743  14312
216  日本 2021-08-05   987060  15317
217  日本 2021-08-06  1002867  15807
218  日本 2021-08-07  1018688  15821
219  日本 2021-08-08  1033214  14526
220  日本 2021-08-09  1045392  12178
221  日本 2021-08-10  1056125  10733
222  日本 2021-08-11  1072153  16028
223  日本 2021-08-12  1091187  19034
224  日本 2021-08-13  1111683  20496
225  日本 2021-08-14  1131986  20303
226  日本 2021-08-15  1149874  17888
227  日本 2021-08-16  1164881  15007
228  日本 2021-08-17  1184986  20105
229  日本 2021-08-18  1209082  24096
230  日本 2021-08-19  1234423  25341
231  日本 2021-08-20  1260415  25992
232  日本 2021-08-21  1286077  25662
233  日本 2021-08-22  1308422  22345
234  日本 2021-08-23  1325346  16924
235  日本 2021-08-24  1347015  21669
236  日本 2021-08-25  1371426  24411
237  日本 2021-08-26  1396464  25038
238  日本 2021-08-27  1420783  24319
239  日本 2021-08-28  1443642  22859
240  日本 2021-08-29  1462979  19337
241  日本 2021-08-30  1476653  13674
242  日本 2021-08-31  1494372  17719
243  日本 2021-09-01  1514400  20028
244  日本 2021-09-02  1532616  18216
245  日本 2021-09-03  1549337  16721
246  日本 2021-09-04  1565351  16014
247  日本 2021-09-05  1578258  12907
249  日本 2021-09-07  1597089  10607
250  日本 2021-09-08  1609477  12388
251  日本 2021-09-09  1619873  10396

In [4]:
#有了排序,可以找最大前幾筆,最小前幾筆
sortedFrame = dataFrame.sort_values(by='新增確診數',ascending=False)
sortedFrame.iloc[:20]

     國家         日期     總確診數  新增確診數
231  日本 2021-08-20  1260415  25992
232  日本 2021-08-21  1286077  25662
230  日本 2021-08-19  1234423  25341
237  日本 2021-08-26  1396464  25038
236  日本 2021-08-25  1371426  24411
238  日本 2021-08-27  1420783  24319
229  日本 2021-08-18  1209082  24096
239  日本 2021-08-28  1443642  22859
233  日本 2021-08-22  1308422  22345
235  日本 2021-08-24  1347015  21669
224  日本 2021-08-13  1111683  20496
225  日本 2021-08-14  1131986  20303
228  日本 2021-08-17  1184986  20105
243  日本 2021-09-01  1514400  20028
240  日本 2021-08-29  1462979  19337
223  日本 2021-08-12  1091187  19034
244  日本 2021-09-02  1532616  18216
226  日本 2021-08-15  1149874  17888
242  日本 2021-08-31  1494372  17719
234  日本 2021-08-23  1325346  16924

In [5]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///year2021.db")

dataFrame.to_sql('台灣日本2021',engine,if_exists='replace',index=False)

730